<!-- span6 means takes up 6/12 columns of page, 6/12=1/2 -->

<div class="span7 offset3 stolen-surfbox">

<h1 class="custom-font3">KChore</h1>

<h2 class="custom-font4">Learning Life Skills Through Chores</h2>

<%= link_to("Launch App", pics_path, :class => 'btn') %>
   		
</div>