<div class="span6 offset3 stolen-surfbox">

<h1 class="custom-font3">KChore</h1>

<h2 class="custom-font4">What Is Love? Tis Coding In Ruby</h2>

<%= link_to("Launch App", pics_path, :class => 'btn') %>
   		
</div>